<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Devices running Android 12L (API level 32) or lower  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- Required for accessing images and videos -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- To handle the reselection within the app on Android 14 (API level 34) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROCESSING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SHORT_SERVICE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Request notifications to be enabled by default for media apps -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" 
        android:required="false" />




    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />



    <application
        android:name="com.sugarmount.sugaralbum.GlobalApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:appCategory="video"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ActivityEmpty"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityMain"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityIntro"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityInformation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityFinish"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.sugarmount.sugarcamera.story.movie.MovieEditMainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />

        <activity android:name="com.sugarmount.sugarcamera.PermissionGrantActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.lg.das.HybridWebView"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- Service -->
        <service
            android:name="com.kiwiple.mediaframework.ffmpeg.FFmpegService"
            android:process="com.kiwiple.mediaframework.ffmpeg"
            android:exported="false"
            android:foregroundServiceType="mediaProcessing|dataSync" >
            <intent-filter>
                <action android:name="com.kiwiple.mediaframework.ffmpeg.IFFmpegService" />
            </intent-filter>

        </service>
        <service
            android:name="com.sugarmount.sugarcamera.story.service.VideoCreationService"
            android:exported="false"
            android:foregroundServiceType="shortService" />
        <service
            android:name="com.sugarmount.sugarcamera.story.service.StoryAnalysisMusicForegroundService"
            android:foregroundServiceType="mediaProcessing|dataSync" />
        <service
            android:name="com.sugarmount.sugarcamera.story.service.UplusStorySavingService"
            android:foregroundServiceType="mediaProcessing|dataSync" />
        <service
            android:name="com.kiwiple.mediaframework.ffmpeg.TestService"
            android:exported="false"
            android:foregroundServiceType="mediaProcessing|dataSync" />

        <!-- provider -->
        <provider
            android:name="com.sugarmount.sugarcamera.story.database.TvJcamStoryJsonProvider"
            android:authorities="com.sugarmount.sugarcamera.tvjjson"
            android:exported="true"
            android:multiprocess="true" />
        <provider
            android:name="com.kiwiple.scheduler.database.uplus.TvJcamAnalysisProvider"
            android:authorities="com.sugarmount.sugarcamera.tvjanalysis"
            android:exported="true"
            android:multiprocess="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
    </application>
</manifest>
